@model WebApp_EF.Models.sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esalary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Eid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
